/* Store Settings Styles */
#store-settings,
#shipping-payment-options,
#order-status {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    align-self: center;
}

#store-settings h2,
#shipping-payment-options h2,
#order-status h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #d35400;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
}

.settings-layout {
    display: flex;
}

.settings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.content {
    display: none;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
    background-color: #d35400;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.btn.active {
    background-color: #d35400;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input[type="text"],
input[type="checkbox"] {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

input[type="checkbox"] {
    width: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
